<form [formGroup]="areaForm" (ngSubmit)="onSubmit()"
  class="space-y-10 w-full max-w-6xl mx-auto border border-gray-200 rounded-lg shadow-md p-6 bg-white">
  <div>
    <div class="flex flex-col items-start w-[30%] min-w-[220px] max-w-md mx-auto">
      <label for="nome" class="block font-semibold mb-1 text-left">Área</label>
      <input id="nome" type="text" pInputText formControlName="nome" maxlength="255" class="w-full"
        placeholder="Digite o nome da área" />
    </div>
    <div *ngIf="areaForm.get('nome')?.touched && areaForm.get('nome')?.invalid" class="text-red-500 text-xs mt-1">
      <span *ngIf="areaForm.get('nome')?.errors?.['required']">O nome é obrigatório.</span>
      <span *ngIf="areaForm.get('nome')?.errors?.['minlength']">Mínimo de 2 caracteres.</span>
      <span *ngIf="areaForm.get('nome')?.errors?.['maxlength']">Máximo de 255 caracteres.</span>
    </div>

    <div class="flex flex-col items-start w-[30%] min-w-[220px] max-w-md mx-auto mt-6">
      <label for="codigoContrato" class="block font-semibold mb-1 text-left">Contrato</label>
      <p-dropdown id="codigoContrato" formControlName="codigoContrato" [options]="contratos"
        optionLabel="codigoContrato" optionValue="codigoContrato" placeholder="Selecione o contrato" [showClear]="true"
        class="w-full" [autoDisplayFirst]="false"></p-dropdown>
    </div>
    <div *ngIf="areaForm.get('codigoContrato')?.touched && areaForm.get('codigoContrato')?.invalid"
      class="text-red-500 text-xs mt-1 text-center">
      <span *ngIf="areaForm.get('codigoContrato')?.errors?.['required']">O contrato é obrigatório.</span>
    </div>
  </div>

  <div class="flex justify-center gap-2 mt-4">
    <button pButton type="submit" label="Salvar" [disabled]="carregando" class="p-button-success"
      style="width: 30vw; min-width: 120px; max-width: 200px;"></button>
    <button pButton type="button" label="Cancelar" [disabled]="carregando" class="p-button-secondary"
      (click)="router.navigate(['/app/areas'])" style="width: 30vw; min-width: 120px; max-width: 200px;"></button>
  </div>

  <div *ngIf="sucesso" class="text-green-600 mt-2">{{ sucesso }}</div>
  <div *ngIf="erro" class="text-red-600 mt-2">{{ erro }}</div>
  <p-toast></p-toast>
</form>